  <h1> About Pangr Dev Blog </h1>

  <p> Pangr is a group blogging site where
    you and your friends can share photes,
    photos, gifs and posts. Pangr was
    built in Ruby on Rails with a Foundation
    front end Amazon S3 back-end. It still
    has some quirks to it but hopefully as
    I learn more I will tweak as I go. Untill
    then let me know what you think.
  </p>
